* {
    padding: 0;
    margin: 0;
}
header nav ul {
    list-style-type: none;
}


a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin: 10px 5px;
}

header {
    background-color: aliceblue;
    margin-bottom: 15px;
}

h1 {
   margin: 15px 0px;
}

.img-logo {
    width: 72px;
    height: 72px;
}

.footer-menu {
    margin-top: 15px;
}


.texto {
    color: aliceblue;
    font-size: "roboto";
}

.texto-h {
    color: rgb(107, 107, 101);
}


.pagina {
    background-color: black;
}

h1 {
    font-family: "roboto";
    text-align: center;
}

a {
    font-family: "roboto";
    color: black;
}

footer {
    color: black;
    background-color: white;
    text-align: center;
    font-family: "roboto";
    padding: 15px;
}

.fotos {
    width: 270px;
    height: 220px;
}

.texto-n {
    width: 250px;
    height: 200px;
    color: aliceblue;
}

.nosotros {
    border: solid 1px white;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

.nosotros-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-p {
    margin-top: 15px;
}

.precios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "precio corte"
                         "mixto colores"
                         "clarito niño";
}

.p-1 {
    grid-area: precio;
    display: flex;
    text-align: center;
    justify-content: center;
}

.p-2 {
    grid-area: corte;
    display: flex;
    text-align: center;
    justify-content: center;
}

.p-3 {
    grid-area: mixto;
    display: flex;
    text-align: center;
    justify-content: center;
}

.p-4 {
    grid-area: colores;
    display: flex;
    text-align: center;
    justify-content: center;
}

.p-5 {
    grid-area: clarito;
    display: flex;
    text-align: center;
    justify-content: center;
}

.p-6 {
    grid-area: niño;
    display: flex;
    text-align: center;
    justify-content: center;
}
.contacto {
    margin-bottom: 15px;
}

a:hover {
    border: 1px solid black
}

.ejemplo-boton {
    background-color: white;
}

.img {
    width: 60%;
    height: 50%;
    display: flex;
    margin-left: 200px;
    margin-bottom: 10px;
    align-items: center;
}

.carousel-slide {
    width: 60%;
    display: flex;
    align-items: center;
}

@media (max-width:450px ) {
   .precios { grid-template-columns: 1fr 1fr;
    grid-template-areas: "precio"
                         "barba"
                         "mixto"
                         "colores"
                         "clarito";}
}

@media (max-width:700px) {
    
    .nosotros-container {
        width: 100%;
    }
    }
